.header {
  padding: 17px 10px;
  min-height: 500px;
  background-image: url('@img/IMAGE.webp');
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  svg {
    fill: #ffffff;

    @media(min-width: $tablet-width) {
      font-size: 26px;
    }
  }

  @media(min-width: $tablet-width) {
    padding: 0;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url('@img/IMAGE@2x.webp');
    background-color: #242424;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.header-wrapper {
  @media(min-width: $tablet-width) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.header__menu-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media(min-width: $tablet-width) {
    align-items: center;
  }
}

.menu__list {
  position: fixed;
  background-color: rgba(36, 36, 36, 0.8);
  backdrop-filter: blur(2px);
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 17px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: -17px;
  margin-left: -10px;
  box-sizing: border-box;
  z-index: 1;

  @media(min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 17px;
    margin-left: 0;
    background-color: transparent;
    backdrop-filter: none;
  }
}

.menu__item {
  padding: 20px 0;
  text-align: center;
  margin-left: -50px;

  @media(min-width: $tablet-width) {
    margin-left: 0;
    padding: 0;
  }
}

.menu__link {
  margin-left: 50px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  font-size: 18px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    border-top: 1px solid $linkHoverBg;
    border-bottom: 1px solid $linkHoverBg;
    border-left: 1px solid $linkHoverBg;
    transition: 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: transparent;
    border-top: 1px solid $linkHoverBg;
    border-bottom: 1px solid $linkHoverBg;
    border-left: 1px solid $linkHoverBg;
    transition: 0.3s;
    transform: rotate(-180deg);
  }

  &:focus {
    color: $linkHoverBg;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      width: 20%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      background-color: transparent;
      border-top: 1px solid $linkHoverBg;
      border-bottom: 1px solid $linkHoverBg;
      border-left: 1px solid $linkHoverBg;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 100%;
      top: 0;
      right: 0;
      opacity: 1;
      background-color: transparent;
      border-top: 1px solid $linkHoverBg;
      border-bottom: 1px solid $linkHoverBg;
      border-left: 1px solid $linkHoverBg;
      transition: 0.3s;
      transform: rotate(-180deg);
    }
  }

  @media(min-width: $tablet-width) {
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 0px;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: transparent;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      opacity: 0;
      background-color: transparent;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
      transition: 0.3s;
      transform: rotate(-180deg);
    }

    &:hover {
      color: #ffffff;
      transition: 0.3s;

      &::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        background-color: transparent;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        transition: 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        width: 20%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 1;
        background-color: transparent;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        transition: 0.3s;
        transform: rotate(-180deg);
      }
    }
  }
}

.close__menu-button {
  background-image: url("@img/svg/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: transparent;
  border: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  z-index: 2;

  @media(min-width: $tablet-width) {
    display: none;
  }
}

.menu__button--active {
  background-image: url("@img/svg/burger-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: transparent;
  border: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  z-index: 2;
}

.header__info {
  margin-top: 60px;
  padding: 20px 0;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media(min-width: 940px) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.info__title {
  color: #ffffff;
  font-family: "Lora", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px; /* 102% */
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.info__description {
  color: rgba(255, 255, 255, 0.63);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  margin-top: 20px;
  margin-bottom: 31px;
}

.info__link-wrapper {
  a {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    text-decoration: none;
    background: $linkHoverBg;
    padding: 12px 31px;
    border-radius: 3px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      background-color: darken($linkHoverBg, 10%);
    }

    &:active {
      transition: 0.3s;
      background-color: darken($linkHoverBg, 20%);
    }
  }
}
