.tags-block {
  padding: 9px 10px;
  background-color: #ffffff;
}

.tags__block-wrapper {
  @media(min-width: 940px) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.tags__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media(max-width: 319px) {
    grid-template-columns: repeat(1, auto);
  }

  @media(min-width: $tablet-width) {
    grid-template-columns: repeat(6, auto);
  }
}

.tags__item {
  padding: 13px 0;
  gap: 21px;
  flex-grow: 1;
  color: $tagsColor;
  font-family: "Lora", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-align: center;
}
